{% extends 'base.html' %}

{% block content %}
<div class="container col-l-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{{ url_for('static', filename='photos/mainS.jpg') }}" class="d-block mx-lg-auto img-fluid"
       width="700" height="600" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3 text-warning">SKOFKA</h1>
      <p class="lead">Skofka – український реп-виконавець, який у 2021 році став справжнім проривом на теренах рідної
        країни. Сьогодні репер однозначно «рве» український YouTube. Його часто порівнюють з Miyagi, але достатньо
        включити кілька треків, щоб зрозуміти – його творчість самобутня, тому будь-які порівняння зайві та навіть
        вульгарні.</p>
    </div>
  </div>
</div>

<div class="col-l-8 mx-lg-5">


  <article class="blog-post  mb-5 ">
    <h2 class="blog-post-title mb-2  text-warning">Творчий шлях реп-виконавця Skofka</h2>

    <p> Виконавець принципово читає реп українською мовою. Він розповів, що колись почув від когось, що реп його рідною
      мовою не може звучати красиво. Ці слова він сприйняв це як виклик. Сам же артист вважає, що реп українською може
      звучати класно, тож готовий це довести на ділі.

      Він потрапив у поле зору шанувальників українського репу завдяки колективу Kalush. Після прем'єри перших треків
      йому висловили респект alyona alyona та VovaZiLvova , а їх слухають далеко за межами України.

      Скофка впевнений, що причина такого зльоту криється у якісній музиці. Він вважає, що вкрай важливо робити гідний
      контент, а решта прийде самою собою.

      Незабаром він представив на суд шанувальників треки: BALALAYKA, «А Я Б…», «Шарф і Шапка» та «Геть за паркан».
      Останній трек справив на меломанів незабутні враження.

      2021 року відбулася прем'єра кліпу на представлений трек. Щодо відео, то це лаконічна екранізація на крутій
      локації, в якій поетапна увага приділяється потенційному хіту. У будь-якому випадку саунд вартий уваги
      шанувальників «вуличної музики».
    </p>
    <div class="col">
      <img src="{{ url_for('static', filename='photos/sk1.jpg') }}" class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes" width="500" height="700" loading="lazy">
    </div>
  </article>

  <article class="blog-post  mb-5 ">
    <h2 class="blog-post-title mb-2  text-warning">Колаборація Скофка та KALUSH</h2>

    <p>
      Травень здивував шанувальників крутою колаборацією Скофки з KALUSH. Ліричний музичний твор «Додому» – потрапив
      меломанам у «серце».

      У музичному творі реп-виконавці розповіли про дитинство, затишні сімейні вечори, будинок, пронизаний запахом
      пирогів з вишнею, тугу за бабусями та дідусями. Сентиментальних ноток їй додає мотив, що нагадує колектив Сектор
      Газа. Це звучить по-справжньому гідно та круто.

      Водночас у шанувальників постало питання щодо того, що репер – підписувач лейбла Enko. Представлений лейбл
      належить реперше alyona alyona та менеджеру Івану Клименку.

      Репер із задоволенням відповів на запитання, заявивши, що не є підписантом лейблу. З'ясувалося, що Enko
      знаходиться на етапі експериментів. Вони практикують колаборації із незалежними артистами та стежать за отриманим
      результатом.
      29 липня Kalush та Скофка випустили спільний ЕР. Він отримав назву "Йо-Йо". «Чому ми назвали ЄР саме так? -
      Коментує лідер групи Kalush. — Тому що збірка не несе новизни в піснях, хайпа, трендів. Кожен трек присвячений
      чомусь цінному, коханому та вічному. Ностальгічному як іграшка йо-йо».
    </p>
    <div class="col">
      <img src="{{ url_for('static', filename='/photos/sandk.jpg') }}" class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
  </article>

  <article class="blog-post  mb-5 ">
    <h2 class="blog-post-title mb-5 text-warning">Skofka: наші дні</h2>

    <p>
      Skofka сьогодні у топі. Він активно просуває свою творчість. У вересні 2021 року Kalush та Skofka екранізували
      композицію «Маяком», яка увійшла до спільного ЄР.

      "Маяком" - ліричний твір про любов. У кліпі показуються дівчина та хлопець, який переживають складний період у
      стосунках. Ритмічні танці у ролику, ніби імітують рухи моря, що зображується на тлі. «Після довгого плавання
      морями та океанами, відвідуючи пусті острови, пропливаючи скелясті береги, на яких можна було занапастити свою
      життя, я тільки…» – співають хлопці.

      27 вересня 2021 року Скофка представив ще одну чудову роботу. Йдеться про трек «Береза ​​стара». У треку він знову
      ностальгує про дитинство та безтурботність. Свіжий кліп реп-виконавця – це похмурий вайб часу, який минув.
    </p>
    <div class="col">
      <img src="{{ url_for('static', filename='photos/sk3.jpeg') }}" class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
  </article>
</div>

{% endblock %}