{% extends 'base.html' %}

{% block content %}
<div class="row g-5 mt-2 mx-lg-auto">
    <div class="col-md-8">


        <article class="blog-post">
            <h2 class="blog-post-title mb-2">Дитячі та юнацькі роки Володимира Самолюка</h2>

            <p> Володимир Самолюк родом із Рівного. Багато хто помилково вважає, що реп-виконавець родом із Здолбунова.
                Артист пояснює, що в останньому містечку – розпочалася його творча кар'єра.
                Насправді про його дитячі та юнацькі роки практично нічого не відомо. Причин такої «прихованої» кілька –
                він поки що «розгортає» творчий шлях, тому не готовий ділитися особистим із журналістами. Друга причина
                – цікавість. Він багато часу проводить за рішенням робочих справ і поки що не готовий до розгорнутого
                діалогу.
                Відомо, що батьки артиста – люди не публічні. Вони не мають жодного стосунку до творчості. Глава
                сімейства – чоловік суворих вдач. Він реалізував себе як міліціонер. Батько хотів, щоб Володимир
                опанував серйозну професію, тож спочатку не підтримував його у творчих починаннях. Самолюк також має
                сестру.
            </p>
            <hr>
            <p>Батьки Володимира були категорично проти того, щоби син займався музикою. Вони радили йому знайти
                стабільну роботу та заробляти собі на життя чимось іншим. Але Самолюк не здавався. Молода людина «гнула»
                свою лінію.
                На цей час артист живе у столиці України. До старту творчої кар'єри він мав дрібні підробітки. Сьогодні
                Скофка займається виключно музикою. Артист зізнається, що не заробляє мільйони, але на скромне життя
                йому цілком вистачає. Головне, що Володимир займається тим, що приносить йому задоволення.</p>
                <div class="col mt-5 mb-5">
                    <img src="{{ url_for('static', filename='photos/sk0.jpg') }}" class="d-block mx-lg-auto img-fluid"
                      alt="Bootstrap Themes" width="700" height="800" loading="lazy">
                  </div>
        </article>



    </div>

    <div class="col-md-4 mt-5">      
                <div class="position-sticky" style="top: 2rem;">
                  <div class="p-4 mb-3 bg-warning rounded  " style=" text-align: center;">
                    <h4 class="fst-italic">Skofka</h4>
                <p class="mb-0 ">«Miyagi, який наївся українського борщу»</p>
                <hr>
                    <h4 class="fst-italic">Пісні</h4>
                    <p class="mb-0 ">
                        <ol class="list-unstyled mb-0">
                            <li><a href="#">Чути гімн</a> </li>
                            <li><a href="#">Не забудем і не пробачим</a></li>
                            <li><a href="#">Крузак</a></li>
                            <li><a href="#">Ой на ой</a></li>
                            <li><a href="#">Геть, за забор</a></li>
                            <li><a href="#">Береза стара</a></li>
                            <li><a href="#">Нам би</a></li>
                            <li><a href="#">Сірник</a></li>
                            <li><a href="#">Форт Буаяр</a></li>
                            <li><a href="#">В дорогу</a></li>
                            <li><a href="#">По барабану</a></li>
                            <li><a href="#">Не бий собаку!</a></li>
                            <li><a href="#">Бум дігі бай</a></li>
                            
                        </ol></p>
                  </div>
        </div>
        
    </div>
</div>
{% endblock %}